<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___VARIABLE_classPrefix:identifier___ViewController.h</key>
		<dict>
			<key>Path</key>
			<string>ViewController.h</string>
		</dict>
		<key>___VARIABLE_classPrefix:identifier___ViewController.m</key>
		<dict>
			<key>Path</key>
			<string>ViewController.m</string>
		</dict>
		<key>CodeCamp.h</key>
		<dict>
			<key>Path</key>
			<string>../CodeCamp/CodeCamp.h</string>
			<key>Group</key>
				<array>
				<string>CodeCamp Helpers</string>
			</array>
		</dict>
		<key>CodeCamp.m</key>
		<dict>
			<key>Path</key>
			<string>../CodeCamp/CodeCamp.m</string>
			<key>Group</key>
				<array>
				<string>CodeCamp Helpers</string>
			</array>
		</dict>
		<key>___VARIABLE_classPrefix:identifier___Constants.h</key>
		<dict>
			<key>Path</key>
			<string>Constants.h</string>
			<key>Group</key>
				<array>
				<string>CodeCamp Helpers</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>For Xcode 5. The {CodeCamp} new app template.</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.singleViewApplicationCC5</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:Availability:iPhoneAvailability:5</string>
		<string>___PACKAGENAME___-Info.plist:UIStatusBarHidden</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.h</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m</string>
		<string>CodeCamp.h</string>
		<string>CodeCamp.m</string>
		<string>___VARIABLE_classPrefix:identifier___Constants.h</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Images.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Images-iPhone.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Images.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Images-iPad.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Images.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Images-Universal.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
						<key>Base.lproj/Main_iPhone.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
						<key>Base.lproj/Main_iPad.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>
						buildNumber=$(/usr/libexec/PlistBuddy -c "Print CFBundleVersion" "$INFOPLIST_FILE")
						buildNumber=`echo $buildNumber +1|bc`
						/usr/libexec/PlistBuddy -c "Set :CFBundleVersion $buildNumber" "$INFOPLIST_FILE"
					</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>osascript -e 'tell app "iPhone Simulator" to quit'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>SpriteKit</string>
				<string>AudioToolbox</string>
				<string>CFNetwork</string>
				<string>CoreData</string>
				<string>Security</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
